/* _content/Courstick/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.wr[b-bing9q2lm8] {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
