@using Courstick.Dto
@section Styles {
    <link rel="stylesheet" href="~/css/lessonsStyles.css" asp-append-version="true"/>
}

<div class="main_block_white">
            <div class="main_container">
                <div class="lessons-container">
                    <div class="lesson-container">
                        <h1>Урок #1</h1>
                    </div>
                    <div class="wrapper-lesson-list">
                        <ul class="lesson-list">
                            <li class="lesson-course-name">
                                Курснейм
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                            <li>
                                <button class="lesson-list-item">
                                    Урокнейм
                                </button>
                            </li>
                        </ul>
                        <button class="orange-button big-button return-button">
                            Вернуться
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
@section Scripts
{
   
    <script src="~/js/"></script>
}