<link rel="stylesheet" href="~/css/uiStyles/cardStyles/previewCardStyles.css" xmlns="http://www.w3.org/1999/html">

<div class="course-card">
    <div class="course-card-image">
    </div>

    <div class="course-card-content-container">
        <div class="tag tag-color-cyan">
            Маркетинг
        </div>

        <p class="course-name">
            The Ultimate Google Ads Training Course
        </p>

        <div class="card-price-container">
            <p class="price">100$</p>
            <div class="card-author-block default_font_settings">
                Вася
            </div>
        </div>
    </div>
</div>
