<div class="card-course-profile">
    <img class="card-course-img" src="~/assets/1141e3214a1146cfa23e94fb3049e271_ce_640x399x0x255_cropped_666x444.jpeg" alt="card"/>
    <div class="card-content">
        <h3 class="card-label">
            CourseName
        </h3>

        <p class="card-description">
            fasdfasdfasdfasdflaskdmf;asdm
        </p>
        <button class="orange-button small-button" style="margin-top: 10px">
            fdsfd
        </button>

        <div class="loading">
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/cards.css"/>