<link rel="stylesheet" href="~/css/uiStyles/modalStyles/defaultModalStyles.css"/>

<div id="modal">
    <div class="modal-content">
        <div class="modal_first-row">
            <h2>
                Приесоединиться к курсу
            </h2>

            <button id="modal_close_button">
                X
            </button>
        </div>

        <h2>
            1000$
        </h2>
        
        <button class="orange-button big-button">
            Купить
        </button>
    </div>
</div>



