<link rel="stylesheet" href="~/css/uiStyles/modalStyles/settingsStyles.css"/>
<link rel="stylesheet" href="~/css/uiStyles/modalStyles/defaultModalStyles.css"/>

<div id="modal">
<div class="modal-content">
    <div class="modal_first-row">
        <h2>
            Настройки
        </h2>

        <button id="modal_close_button">
            X
        </button>
    </div>

    <div class="settings-info">
        <img class="avatar-img" src="assets/image.png" alt="avatar"/>
        <input type="file" class="setting-img-upload"/>
        <div class="info-block-settings">
            <span class="info-block-settings-first-row">
                <b>Ваша почта</b>

                <button class="button_change_info">
                    Изменить
                </button>
            </span>

            <p>fsdfsfd@gmail.com</p>

            <span class="info-block-settings-first-row">
                <b>Ваш пароль</b>

                <button class="button_change_info">
                    Изменить
                </button>
            </span>

            <p>********</p>

            <span class="info-block-settings-first-row">
                <b>Ваш логин</b>

                <button class="button_change_info">
                    Изменить
                </button>
            </span>

            <p>Русский кот</p>
        </div>

        <button class="orange-button big-button">
            Сохранить
        </button>
    </div>
</div>
</div>

