@using Courstick.Views.Auth
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="main_block_gray" style="height: 100%">
    <div class="main_container">
        <div class="login-container-wrapper">
            <div class="login-container" >
                <h2 class="title_login">Регистрация</h2>
                <form class="login-form" >
                    <label class="input-wrapper" >
                        <p>Логин</p>
                        <input placeholder="Ваш логин" id="login" class="input-form" required/>
                        <p id="login-error">
                            Неправильный формат почты
                        </p>
                        
                    </label>
                    
                    <label class="input-wrapper">
                        <p>Email</p>
                        <input id="email" placeholder="Ваш email" class="input-form"  type="email" required="required"/>
                        <p id="email-error">
                            Неправильный формат почты
                        </p>
                    </label>
                    
                    <label class="input-wrapper">
                        <p>Пароль</p>
                        <input id="password" class="input-form" asp-for="Password" type="password" required/>
                        <p id="pass-error">
                            Пароль должен содержать минимум 8 элементов, 1 число и 1 букву
                        </p>
                    </label>
                    
                    <label class="input-wrapper">
                        <p>Повторите пароль</p>
                        <input id="repeat_password" class="input-form" type="password" required/>
                        <p id="reppassword-error">
                            Пароли не совпадают
                        </p>
                    </label>
                    <p id="result_row">
                                            
                    </p>
                    
                    <input id="regbutton" type="submit" placeholder="Зарегистрироваться" class="submit-form-button orange-button"/>
                </form>
                <div class="under-form-links">
                    <a asp-area="" asp-controller="Auth" asp-action="Authorization">Уже есть аккаунт?</a>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script src="~/js/regAuth.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/css/AuthStyles.css" xmlns="http://www.w3.org/1999/html">