@using Courstick.Views.Auth
@model RegisterModel;
@{
    ViewData["Title"] = "Регистрация";
}
<div class="main_block_gray" style="height: 100%">
    <div class="main_container">
        <div class="login-container-wrapper">
            <div class="login-container" >
                <h2 class="title_login">Регистрация</h2>
                <form class="login-form">
                    <label class="input-wrapper">
                        <p>Логин</p>
                        <input placeholder="Ваш логин" class="input-form" asp-for="Login"/>
                    </label>
                    
                    <label class="input-wrapper">
                        <p>Email</p>
                        <input placeholder="Ваш email" class="input-form" asp-for="Email" type="email"/>
                    </label>
                    
                    <label class="input-wrapper">
                        <p>Пароль</p>
                        <input class="input-form" asp-for="Password" type="password"/>
                    </label>
                    
                    <label class="input-wrapper">
                    <p>Повторите пароль</p>
                        <input  class="input-form" asp-for="ConfirmPassword" type="password"/>
                    </label>
                    <button class="submit-form-button orange-button">
                        Зарегистрироваться
                    </button>
                </form>
                <div class="under-form-links">
                    <a asp-area="" asp-controller="Auth" asp-action="Authorization">Уже есть аккаунт?</a>
                </div>
                
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/AuthStyles.css" xmlns="http://www.w3.org/1999/html">