@model Courstick.Dto.CourseDto

@{
    ViewData["Title"] = Model?.Name;
}

<div class="main_block_colored">
    <div class="main_container">
        <div class="coursepage-title">
            <p class="subline-courses">Курс</p>
            <h1 style="margin-top: 6px">@Model?.Name</h1>
        </div>
    </div>
</div>

<div class="main_block_white">
    <div class="main_container">
        <div class="coursepage-content">
            <div class="about-course-block">
                <div class="about-course">
                    <h1>
                        О курсе
                    </h1>

                    <p class="course-description">@Model?.Description</p>

                    <h2 class="what-will-learn-label">
                        Что вы изучите?
                    </h2>

                    <ul>
                        <li>
                            A fermentum in morbi pretium aliquam adipiscing donec tempus.
                        </li>
                        <li>
                            A fermentum in morbi pretium aliquam adipiscing donec tempus.
                        </li>
                        <li>
                            A fermentum in morbi pretium aliquam adipiscing donec tempus.
                        </li>
                        <li>
                            A fermentum in morbi pretium aliquam adipiscing donec tempus.
                        </li>
                    </ul>
                </div>

                <div class="buy-block">
                    <div class="buy-container">
                        <p class="buy-title">
                            Продолжительность
                        </p>
                        <p class="buy-price">
                            @Model!.Lessons!.Count Уроков
                        </p>
                        <p class="buy-desc">
                            Metus turpis sit lorem lacus, in elit tellus lacus.
                        </p>
                    </div>

                    <div class="buy-container">
                        <p class="buy-title">
                            Цена
                        </p>
                        @if (Model.IsBought)
                        {
                            <p class="buy-price">Курс куплен</p>
                        }
                        else
                        {
                            <p class="buy-price">@Model?.Price ₽</p>
                        }
                        <p class="buy-desc">
                            Metus turpis sit lorem lacus, in elit tellus lacus.
                        </p>
                    </div>

                    <div class="buy-container">
                        <p class="buy-title">
                            Оценка
                        </p>

                        <p class="buy-price">
                            Курс еще никто не оценил
                        </p>
                    </div>

                    @if (Model.IsBought)
                    {
                        <a asp-controller="Lessons" asp-action="Lessons" asp-route-id="@Model.CourseId" class="text-center orange-button big-button">
                            Перейти к обучению
                        </a>
                    }
                    else
                    {
                        <button id="open-modal-button" class="orange-button big-button">Присоединиться к курсу</button>
                    }
                </div>
            </div>

            <div class="about-course-block">
                <img class="author-avatar" src="~/assets/1141e3214a1146cfa23e94fb3049e271_ce_640x399x0x255_cropped_666x444.jpeg"/>

                <div class="author-block-info">
                    <p class="subline-courses">Создатель курса</p>
                    <h1 style="margin-top: 6px">Имя автора</h1>
                    <p class="small-author-description">Small author description</p>
                    <p class="author-description">
                        Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus curabitur venenatis, vulputate venenatis fermentum ante. Nisl, amet id semper semper quis commodo, consequat. Massa rhoncus sit morbi odio. Sit maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet at massa sed pharetra. Ac commodo platea id habitasse proin. Nullam sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin interdum quam.
                    </p>
                </div>
            </div>

            <div class="about-course-block">
                <div class="description_wrapper">
                    <p class="subline-courses">Программа курса</p>
                    <h1 style="margin-top: 6px">Что вам предстоит изучить</h1>

                    <ul>
                        @foreach (var lesson in Model?.Lessons)
                        {
                            <li class="lesson-list-item">
                                <button class="button-lesson-info">
                                    Урок#1
                                </button>
                                @lesson.Movie
                            </li>
                        }
                    </ul>
                </div>

                <img src="~/assets/illustration (1).svg"/>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partials/Modals/BuyModal");

@section Scripts
{
    <script src="~/js/modalScripts.js"></script>
}

<link rel="stylesheet" href="~/css/coursePageStyles.css" xmlns="http://www.w3.org/1999/html">