@using Courstick.Views.CourseSettings
@model CreateCourseModel
@{
    ViewData["Title"] = "Create course";
}
@*
    1)Добавление в лист поля модели
    2)Будет ли сохраняться картинка 
    3)
*@
<div class="main_block_colored">
        <div class="main_container">
            <div class="add-course-first-block">
                <div class="course-image-wrapper">
                    <div class="course-image-container">
                        <img src="" class="course-image"/>
                    </div>
                    <form class="upload-image-form">
                        <label class="upload-image-form-label" for="img">Выберите обложку для курса</label>
                        <input class="" type="file" asp-for="Image" id="img" name="img" accept="image/*">
                    </form>
                </div>
                <form asp-action="CreateCourse" asp-controller="CourseSettings" method="post">
                    <div class="course-image-wrapper">
                        <h1>
                            Название курса
                        </h1>
                        <input type="text" asp-for="Name" class="input-label"/>

                        <h1 class="description-title">
                            Описание
                        </h1>
                        <textarea required placeholder="Описание" asp-for="Description" class="input-label input-desc">

                        <h1>
                            Цена курса
                        </h1>
                        <input type="text" asp-for="Price" class="input-label"/>

                        </textarea>
                    </div>
                    <button class="orange-button big-button add-lesson-button">Добавить урок</button>
                </form>
            </div>
        </div>
    </div>
<div class="main_block_gray">
    <div class="main_container">
        <div class="lessons-container">
            <button class="orange-button big-button add-lesson-button">Добавить урок</button>
            <ul class="added-lesson-list">
                <li class="added-lesson-container">
                </li>
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/createCourseStyles.css" xmlns="http://www.w3.org/1999/html">
