@{
    ViewData["Title"] = "Ваши курсы";
}

<div class="main_block_white">
    <div class="main_container">
        <div class="wrapper-settings-course-list">
            <h1>Ваши курсы</h1>

            <div class="settings-course-list">
                <div class="your-course-card">
                    <img src="./assets/illustration (1).svg" class="img-your-course"/>
                    <div class="your-course-card-info-wrapper">
                        <div>
                            <h2>
                                coursename
                            </h2>
                            <p>
                                description
                            </p>
                        </div>
                        <div>

                            <button class="medium-button orange-button">
                                Просмотреть курс
                            </button>
                            <button class="medium-button border-button">
                                Изменить курс
                            </button>
                        </div>
                    </div>
                </div>

                <div class="your-course-card">
                    <img src="./assets/Без%20названия.jpeg" class="img-your-course"/>
                    <div class="your-course-card-info-wrapper">
                        <div>
                            <h2>
                                coursename
                            </h2>
                            <p>
                                description
                            </p>
                        </div>
                        <div>

                            <button class="medium-button orange-button">
                                Просмотреть курс
                            </button>
                            <button class="medium-button border-button">
                                Изменить курс
                            </button>
                        </div>
                    </div>
                </div>

                <div class="your-course-card">
                    <img src="./assets/Без%20названия.jpeg" class="img-your-course"/>
                    <div class="your-course-card-info-wrapper">
                        <div>
                            <h2>
                                coursename
                            </h2>
                            <p>
                                description
                            </p>
                        </div>
                        <div>

                            <button class="medium-button orange-button">
                                Просмотреть курс
                            </button>
                            <button class="medium-button border-button">
                                Изменить курс
                            </button>
                        </div>
                    </div>
                </div>

                <div class="your-course-card">
                    <img src="./assets/Без%20названия.jpeg" class="img-your-course"/>
                    <div class="your-course-card-info-wrapper">
                        <div>
                            <h2>
                                coursename
                            </h2>
                            <p>
                                description
                            </p>
                        </div>
                        <div>

                            <button class="medium-button orange-button">
                                Просмотреть курс
                            </button>
                            <button class="medium-button border-button">
                                Изменить курс
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/yourCourses.css" xmlns="http://www.w3.org/1999/html">