.coursepage-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.coursepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.about-course-block {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.about-course-block:first-child {
    margin: 0;
}

.about-course-block:last-child {
    margin-bottom: 50px;
}

.about-course {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.course-description {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
}

.what-will-learn-label {
    margin-top: 40px;
    font-weight: 700;
    font-size: 28px;
}

.buy-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 32px;
    max-width: 550px;
    border: 1px solid #E5E8ED;
    max-height: 500px;

    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.buy-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px
}

.buy-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    letter-spacing: 1px;
    text-transform: uppercase;
}

.buy-price {
    margin-top: 4px;
    font-weight: 700;
    font-size: 24px;

    color: #FF3F3A;
}

.buy-desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
}

.author-avatar {
    width: 495px;
    height: 580px;
    object-fit: cover;
}

.author-block-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.small-author-description {
    font-weight: 400;
    font-size: 20px;

    color: #787A80;
}

.author-description {
    margin-top: 20px;
    font-size: 16px;
    color: #424551
}

.lesson-list-item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #1E212C;
}

.button-lesson-info {
    margin-right: 5px;
    border: none;
    color: rgba(255, 63, 58, 1);
    background: none;
}

@media screen and (max-width: 700px) {
    .about-course-block {
        flex-direction: column;
    }
    
    .about-course {
        margin: 0 auto;
        align-items: center;
    }
    
    .buy-block {
        margin: 0 auto;
    }
    
    .author-avatar {
        margin: 0 auto;
    }
    
    .author-block-info {
        margin: 0 auto;
        margin-top: 15px;
        max-width: 495px;
    }

    .description_wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .about-course ul {
        padding: 0;
    }
}
    