.lessons-container {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper-lesson-list {
    display: flex;
    flex-direction: column;
}

.lesson-list {
    padding: 20px 20px;
    max-width: 550px;
    height: 400px;
    border: 1px solid #E5E8ED;

    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow-y: scroll;
}

.lesson-container {
    width: 100%;
    height: 600px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border: 1px solid #E5E8ED;
    margin-right: 30px;
    padding: 15px;
    overflow-y: scroll;
}

.lesson-course-name {
    font-size: 30px;
}

.lesson-list-item {
    border: none;
    text-align: left;
    background: none;
    display: flex;
    justify-content: left;
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    margin: 8px 0;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
}

.lesson-list-item:hover {
    opacity: 0.7;
}

.return-button {
    margin-top: 25px;
}

.comment-label {
    margin: 25px 0;
}

.form-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-comment {
    padding: 5px;
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    resize: none;
}

.comments-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.comment {
    background: white;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border: 1px solid #E5E8ED;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.comment_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-content {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 15px;
    font-weight: 700;
}

.comment-text {
    margin-top: 3px;
}

.video {
    margin: 35px 0;
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 700px) {
    .lessons-container {
        flex-direction: column-reverse;
    }
    
    .lesson-list {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 5px 10px;
        align-items: center;
    }
    
    .lesson-list li {
        margin-right: 25px;
    }
    
    .video {
        height: 200px;
    }
    
    .lesson-list-item {
        border: 1px solid black;
        padding: 5px;
        border-radius: 3px;
    }

    .lesson-list li:first-child {
        margin-right: 0;
        border: none;
    }
    
    .lesson-course-name {
        margin-right: 100px !important;
    }
    
    .lesson-container {
        margin-top: 40px;
    }
}