.wrapper-settings-course-list {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.settings-course-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.your-course-card {
    display: flex;
    max-height: 200px;
    margin-top: 15px;
}

.img-your-course {
    max-height: inherit;
    width: 200px;
    object-fit: cover;
}

p {
    max-height: 130px;
    overflow-y: scroll;
    text-align: left;
}

.your-course-card-info-wrapper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-height: 200px;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid black;
    border-left: none;
}

.delete-btn{
    color: #ff0000;
    border: none;
}

@media screen and (max-width: 700px) {
    .settings-course-list {
        overflow-y: scroll;
    }
    
    .your-course-card-info-wrapper {
        height: 450px;
    }
    
    .button-wrapper {
        display: flex;
        flex-direction: row;
    }
    
    p {
        display: none;
    }
}