@using Courstick.Dto
@model List<Courstick.Dto.CourseInfoDto>
@{
    ViewData["Title"] = "Поиск";
}

@section Styles {
    <link rel="stylesheet" href="~/css/searchPageStyles.css" xmlns="http://www.w3.org/1999/html">  
    <link rel="stylesheet" href="~/css/uiStyles/cardStyles/cardStyles.css"/>
    <link rel="stylesheet" href="~/css/uiStyles/cardStyles/previewCardStyles.css" xmlns="http://www.w3.org/1999/html">  
}

<div class="main_block_white">
    <div class="main_container">
        <div class="search-page-container">
            <p class="subline-courses">Найди то, что тебе подойдет!</p>
            <h1 style="margin-top: 6px">Наши курсы</h1>

            <div class="search-container">
                <div class="filters-container">
                    <div class="buttons-group-filter">
                        <button class="tab">
                            Все
                        </button>
                        <button class="tab">
                            IT
                        </button>
                        <button class="tab">
                            Математика
                        </button>
                        <button class="tab">
                            Дизайн
                        </button>
                        <button class="tab">
                            Анимация
                        </button>
                        <button class="tab">
                            Сварка)
                        </button>
                    </div>

                    <input placeholder="Поиск" id="course-searcher" class="input-search" type="search"/>
                </div>
                
                <div id="cards-list" class="courses-list">
                @* @foreach(CourseInfoDto course in Model) *@
                @* { *@
                @*     @Html.Partial("Partials/_Card", course) *@
                @* } *@
                </div>
            </div>
            <button class="load-more-button">
                Загрузить еще
            </button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/searchPageScript.js"></script>
}

